<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.giacomos.android.wwwsapp"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    
    <!--  presage -->
    
		<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
		<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
		<uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
		<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
		<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	
	<!--  end presage -->	
		
    <!-- GET_ACCOUNTS needed on versions lower than 4.0.4. 4.0.3 and 4.0.4 is 15 -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="15" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
          ==================================     ========================================
    
                           CHANGE THIS ONE WHEN SWITCHING TO PRO!! 
                           
                          ========================================
    -->

    <permission
        android:name="it.giacomos.android.wwwsapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!--
          ==================================       ========================================
    
                           CHANGE THIS ONE WHEN SWITCHING TO PRO!! 
                           
                          ========================================
    -->
    <uses-permission android:name="it.giacomos.android.wwwsapp.permission.C2D_MESSAGE" />

    <!--
    <permission
        android:name="it.giacomos.android.wwwsapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    -->


    <!-- in app billing. Removed since 2.8.0... -->
    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <!-- uses-permission android:name="it.giacomos.android.wwwsapp.permission.MAPS_RECEIVE"/ -->


    <!-- android:label="@string/app_name" before releasing!!! -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/OtherActivitiesTheme" >
        <activity
            android:name="it.giacomos.android.wwwsapp.WWWsAppActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/OsmerActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.giacomos.android.wwwsapp.widgets.map.report.ReportActivityty"
            android:label="@string/report_activity_name"
            android:launchMode="singleTop"
            android:parentActivityName="it.giacomos.android.wwwsapp.WWWsAppActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.LAUNCHER" />

                <!-- <category android:name="android.intent.category.MAIN" /> -->
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <!--
              starting from versionCode > 231 I created a map key with release and debug SHA1 together.
        	  This way, the key below applies both to release and debug builds.
        -->


        <!--
              Meteo.FVG package (old and alpha/beta versions) 
			it.giacomos.android.wwwsapp package name
        -->


        <!-- ============================================= Meteo.FVG ========================================= -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyChM0jeUuXoEwQOzL0XVfB1GEKCoTt_lkk" />
        <!-- ========================================== end Meteo.FVG API KEY ============================== -->

        <receiver
            android:name="it.giacomos.android.wwwsapp.service.ConnectivityChangedReceiver"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_broadcast_receiver" >

            <!--
              android:permission="string"
              android:process="string" >
            -->

            <intent-filter android:priority="500" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="it.giacomos.android.wwwsapp.service.ReportDataServicevice" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
        activity
            android:name="it.giacomos.android.wwwsapp.trial.BuyProActivity"
            android:label="@string/title_activity_buy_pro"
            android:parentActivityName="it.giacomos.android.wwwsapp.WWWsAppActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.giacomos.android.wwwsapp.WWWsAppActivity" />
        </activity
        -->

        <activity
            android:name="it.giacomos.android.wwwsapp.widgets.map.report.tutorialActivity.TutorialPresentationActivity"
            android:label="@string/title_activity_tutorial_presentation"
            android:parentActivityName="it.giacomos.android.wwwsapp.WWWsAppActivity"
            android:theme="@style/OtherActivitiesTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.giacomos.android.wwwsapp.WWWsAppActivity" />
        </activity>
        <activity
            android:name="it.giacomos.android.wwwsapp.preferences.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="it.giacomos.android.wwwsapp.WWWsAppActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.giacomos.android.wwwsapp.WWWsAppActivity" />
        </activity>

        <receiver
            android:name="it.giacomos.android.wwwsapp.gcm.GcmBroadcastReceiverReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="it.giacomos.android.wwwsapp" />
            </intent-filter>
        </receiver>

        <service android:name="it.giacomos.android.wwwsapp.GcmIntentService" />
        <service android:name="it.giacomos.android.wwwsapp.service.RadarSyncAndRainGridDetectService" />

        <activity
            android:name="it.giacomos.android.wwwsapp.RainDetectActivity"
            android:label="@string/title_activity_rain_detect"
            android:parentActivityName=".WWWsAppActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WWWsAppActivity" />
        </activity>
        <activity
            android:name="it.giacomos.android.wwwsapp.personalMessageActivity"
            android:label="@string/title_activity_personal_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WWWsAppActivity" />
        </activity>

        
        
        <!-- PRESAGE LIBRARY -->
        <meta-data
            android:name="presage_key"
            android:value="265549" />

        <service android:name="io.presage.services.PresageServiceImp" />

        <activity
            android:name="io.presage.activities.PresageActivity"
            android:label="@string/app_name"
            android:theme="@style/Presage.Theme.Transparent" >
            <intent-filter>
                <action android:name="io.presage.intent.action.LAUNCH_WEBVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="io.presage.receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="io.presage.receivers.BootReceiver.RESTART_SERVICE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
