/weather_clear_state.xml
/weather_clouds_state.xml
/weather_few_clouds_state.xml
/weather_showers_scattered_state.xml
/weather_showers_state.xml
/weather_snow_scattered_state.xml
/weather_storm_state.xml
